In [ ]:
import pandas as pd
import numpy as np

'''
pandas functions practise along with some hackerrank problems
'''

def reverse_word(sentence):
    words_list = sentence.split() #create list of words
    reverse_list = words_list[::-1] # use slicing
    reverse_sentence = ' '.join(reverse_list)
    return reverse_sentence
reverse_word('My name is Barnaby')

'Barnaby is name My'

In [40]:
def count_unique(nums): 
    unique_list = []
    duplicates = []
    for x in nums:
   
        if x not in unique_list:
            unique_list.append(x) #create list of unique numbers
        else:
            duplicates.append(x)  # create list of dupicates
        
    # unique count is length of unique numbers taking away the numbers that also appear in duplicates
    number_unique = len(unique_list) - len(set(duplicates))
    
    return number_unique
 
  

count_unique([1,2,3,4,4,4,5,5,5,5,5,55,6,7,8,9])

8

In [67]:
"""
Total Sales per Person function
Returns a dictionary of total sales per person
"""
sales = [
    {"name": "Alice", "amount": 200},
    {"name": "Bob", "amount": 150},
    {"name": "Alice", "amount": 100},
]

def  total_sales_per_person(sales):
    df = pd.DataFrame(sales)
    agg_df = df.groupby('name').agg({'amount': 'sum'})  #['amount'].sum()
    print(agg_df)
    return agg_df.to_dict()


total_sales_per_person(sales)

       amount
name
Alice     300
Bob       150

{'amount': {'Alice': 300, 'Bob': 150}}

In [139]:
"""
Sorts DataFrame into average value by category (descending)
"""
df = pd.DataFrame({
    'category': ['A', 'B', 'A', 'B', 'C'],
    'value': [10, 20, 30, 40, 50]
})

def avg_by_category(df):
    df_agg = df.groupby('category').agg({'value': 'mean'})
    sorted_df = df_agg.sort_values(by='value', ascending = False)
    return(sorted_df.rename(columns={'value':'Avg Value'}))

avg_by_category(df)

          Avg Value
category
C              50.0
B              30.0
A              20.0

In [95]:
"""
list = []
list2= []
def longest_increasing_subsequence(nums):

    for x in range(len(nums)):
        if nums[x] > nums[x-1]:
            list.append(x)

        elif nums[x] <= nums[x-1]:
            list2.append(len(list))

    return max(list2)
"""
def longest_increasing_subsequence(nums):
    """
    Returns the length of the longest strictly increasing subsequence.
    """
    if not nums:
        return 0

    n = len(nums)
    dp = [1] * n  # dp[i] = LIS ending at index i

    for i in range(1, n):
        for j in range(i):
            if nums[i] > nums[j]:
                dp[i] = max(dp[i], dp[j] + 1)

    return max(dp)


#longest_increasing_subsequence([10, 9, 1,2,3,4,5,2, 5, 3, 7, 101, 18])  # Output: 4

assert longest_increasing_subsequence([10,9,2,5,3,7,101,18]) == 4
assert longest_increasing_subsequence([0,1,0,3,2,3]) == 4
assert longest_increasing_subsequence([7,7,7,7]) == 1
assert longest_increasing_subsequence([]) == 0
print("✅ All tests passed")

✅ All tests passed

In [99]:
def even_numbers_squared(N):
    even_squares = []
    for x in range(N+1):
        if x % 2 == 0:
            even_squares.append(x**2)

        else:
            continue

    return even_squares

print(even_numbers_squared(11))

[0, 4, 16, 36, 64, 100]

In [111]:
def avg_greater_ten(nums):
    v_nums = []
    for num in nums:
        if num >10:
            v_nums.append(num)

    return np.mean(v_nums)

    
avg_greater_ten([1, 100, 2,3,4,5])

np.float64(100.0)

In [121]:
sales = [
    {"name": "Alice", "amount": 200},
    {"name": "Bob", "amount": 150},
    {"name": "Alice", "amount": 100},
    {"name": "Chris", "amount": 250},
]
df = pd.DataFrame(sales)
print(df.groupby('name')['amount'].sum().to_dict())

{'Alice': 300, 'Bob': 150, 'Chris': 250}

In [144]:
def avg_by_category(df):
    df_agg = df.groupby('category').agg({'value': 'mean'})
    sorted_df = df_agg.sort_values(by='value', ascending = False)
    return(sorted_df.rename(columns={'value':'Avg Value'}))

avg_by_category(df)

df = pd.DataFrame({
    'category': ['A','B','A','B','C'],
    'value': [10,20,30,40,50]
})
df_agg = df.groupby('category').agg({'value': 'mean'})
sorted_df = df_agg.sort_values(by='value', ascending = False)
print(sorted_df)

          value
category
C          50.0
B          30.0
A          20.0

In [149]:
df = pd.DataFrame({
    'name': ['Alice','Bob','Chris','David'],
    'sales': [100, 400, 300, 200]
})
mean = df.agg('sales').mean()
print(df[df['sales'] > mean])

    name  sales
1    Bob    400
2  Chris    300

In [155]:
df = pd.DataFrame({
    'region': ['North','South','North','East','South'],
    'revenue': [100, np.nan, 300, 400, np.nan]
})
df['revenue'] = df['revenue'].fillna(0)
df_agg = df.groupby('region', as_index=False)['revenue'].sum()
df_agg = df_agg.rename(columns={'revenue': 'total_revenue'})

print(df_agg)

  region  total_revenue
0   East          400.0
1  North          400.0
2  South            0.0

In [178]:
customers = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Chris']
})

orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 2, 1, 3, 1],
    'amount': [200, 150, 300, 400, 250]
})

df = pd.merge(orders, customers, right_on='id', left_on ='customer_id', how='inner')
df_agg = df.groupby('name', as_index = False)['amount'].sum()
df_sorted = df_agg.sort_values(by='amount', ascending = False).rename(columns={'amount': 'total_spent'})
df_sorted['rank'] = df_sorted['total_spent'].rank(ascending=False)
print(df_sorted)
print(df_sorted.columns)

    name  total_spent  rank
0  Alice          750   1.0
2  Chris          400   2.0
1    Bob          150   3.0
Index(['name', 'total_spent', 'rank'], dtype='object')

In [206]:
df = pd.DataFrame({
    'user': ['Alice', 'Bob', 'Alice', 'Chris', 'Bob', 'David', 'Alice', 'Eve'],
    'genre': ['Drama', 'Comedy', 'Comedy', 'Action', np.nan, 'Drama', 'Action', 'Comedy'],
    'watch_time': [120, 90, 45, 60, 100, 80, np.nan, 200],  # minutes
    'rating': [5, 3, 4, np.nan, 5, 2, 4, 5]
})

def top_genres_by_average_rating(df):
    """
    Return average watch time and rating per genre.
    Only include genres with avg_rating ≥ 4.
    Sorted by avg_rating desc, then avg_watch_time desc.
    """
    result = (
        df
        .dropna(subset=['genre'])  # ignore missing genres
        .groupby('genre', as_index=False)
        .agg({'watch_time': 'mean', 'rating': 'mean'})
        .rename(columns={'watch_time': 'avg_watch_time', 'rating': 'avg_rating'})
        .round(1)
    )
    result = result[result['avg_rating'] >= 4]
    result = result.sort_values(by=['avg_rating', 'avg_watch_time'], ascending=[False, False])
    return result

top_genres_by_average_rating(df)

    genre  avg_watch_time  avg_rating
1  Comedy           111.7         4.0
0  Action            60.0         4.0

In [261]:
df = pd.DataFrame({
    'user': ['Alice','Bob','Alice','Chris','Bob','David','Alice','Eve','Chris','Eve','Alice'],
    'genre': ['Drama','Comedy','Comedy','Action','Drama','Drama','Action','Comedy','Comedy','Action','Drama'],
    'watch_time': [120,90,45,60,100,80,130,200,50,180,95],
    'rating': [5,3,4,5,4,2,4,5,4,5,3]
})
def rank_genres(df):
    result = df.groupby('genre', as_index=False).agg({'watch_time': 'mean', 'rating':'mean'})
    count = df['genre'].value_counts()
    merged = pd.merge(result, count, on='genre')

    #score
    max_watch_time = merged.max()['watch_time']
    merged['score'] = (merged['rating']*0.6) + (0.4 * (merged['watch_time']/max_watch_time) * 5)

    new = merged.sort_values(by='score', ascending=False)
    renamed = new.rename(columns={'watch_time':'avg_watch_time','rating':'avg_rating','count':'session_count'})
    return renamed.round(2)

rank_genres(df)

    genre  avg_watch_time  avg_rating  session_count  score
0  Action          123.33        4.67              3   4.80
1  Comedy           96.25        4.00              4   3.96
2   Drama           98.75        3.50              4   3.70

In [336]:
df = pd.DataFrame({
    'user': ['Alice','Bob','alice','Chris','bob','David','ALICE','Eve','chris','Eve','Alice','BOB'],
    'genre': ['Drama ', 'comedy', 'Comedy', 'action', 'Drama', np.nan, 'ACTION ', 'comedy ', 'Action', 'Drama', 'ACTION', 'comedy'],
    'watch_time': [120, 90, 45, 60, 100, 80, 130, 200, 50, np.nan, 180, 40],
    'rating': [5, 3, 4, 5, np.nan, 2, 4, 5, 4, 4, np.nan, 3]
})

def clean_and_rank_genres(df):
    '''
    Clean, Aggregate, Filter, Score and Rank, Return
    '''
    df_clean = df.dropna(subset=['genre']).copy()
    df_clean['genre'] = df_clean['genre'].str.title().str.strip()

    df_agg = df_clean.groupby('genre', as_index=False)['rating'].mean()
    df_agg = df_agg.rename(columns={'rating':'avg_rating'})
    df_filled = df_clean.merge(df_agg, on='genre', how='left')
    df_filled['rating'] = df_filled['rating'].fillna(df_filled['avg_rating'])

    df_filled = df_filled.groupby('genre', as_index=False).agg({'watch_time': 'mean', 'rating': 'mean'})
    df_filled = df_filled.rename(columns={'watch_time':'avg_watch_time', 'rating':'avg_rating'})
    df_counts = df_clean['genre'].value_counts()

    merged = pd.merge(df_filled, df_counts, on='genre')
    merged = merged[merged['avg_rating']>= 4]

    max_watch_time = merged.max()['avg_watch_time']
    merged['score'] = (merged['avg_rating']*0.7) + (0.3 * (merged['avg_watch_time']/max_watch_time) * 5)
    merged = merged.sort_values(by='score', ascending=False)
    return merged.round(2)

'''
    df_filled = df_clean.merge(df_agg, on='genre', how='left')
    df_filled['rating'] = df_filled['rating'].fillna(df_filled['avg_rating'])
    print(df_filled)

    #aggregate
    df_filled_agg = df_filled.groupby('genre',as_index=False)['watch_time'].mean().rename(columns={'watch_time':'avg_watch_time'})
    print(df_filled_agg)
'''
clean_and_rank_genres(df)

    genre  avg_watch_time  avg_rating  count  score
2   Drama           110.0        4.50      3   4.65
0  Action           105.0        4.33      4   4.47

In [356]:
def is_balanced(s):
    square_count = 0
    round_count = 0
    curl_count = 0
    for x in list(s):
        if x == '[':
            square_count += 1
        elif x == ']':
            square_count -= 1
        elif x == '(':
            round_count += 1
        elif x == ')':
            round_count -= 1
        if x == '{':
            curl_count += 1
        elif x == '}':
            curl_count -= 1
    
    if square_count == round_count == curl_count == 0:
        return True
    else:
        return False



#is_balanced("({[})")
print(is_balanced("()[]{}"))   # ✅ True
print(is_balanced("([)]"))     # ❌ False
print(is_balanced("({[]})"))   # ✅ True
print(is_balanced("({[})"))    # ❌ False

True
True
True
False

In [375]:
import string
def word_frequency(test):
    #strip punctuation method
    def remove_punctuation(text):
        translator = str.maketrans('', '', string.punctuation)
        clean = text.translate(translator)
        return clean
    
    out = remove_punctuation(test)
    # lower case and create a list of words
    sentence = out.lower().split( )
    #print(sentence)

    word_counter_dict = {}
    for word in sentence:
        if word in word_counter_dict:
            word_counter_dict[word] += 1
        else:
            word_counter_dict[word] = 1

    return word_counter_dict

        
    
word_frequency('Data science is fun, and data is powerful!')

{'data': 2, 'science': 1, 'is': 2, 'fun': 1, 'and': 1, 'powerful': 1}

In [385]:
sales_a = {'Alice': 120, 'Bob': 80, 'Charlie': 150}
sales_b = {'Bob': 70, 'Diana': 200, 'Charlie': 100}

def merge_and_rank(sales_a, sales_b):
    merged = {}
    for name, amount in sales_a.items():
        merged[name] = merged.get(name, 0) + amount

    for name, amount in sales_b.items():
        merged[name] = merged.get(name, 0) + amount 
    
    sorted_sales = sorted(merged.items(), key=lambda x: x[1], reverse = True)
    return dict(sorted_sales)


merge_and_rank(sales_a, sales_b)

{'Charlie': 250, 'Diana': 200, 'Bob': 150, 'Alice': 120}

In [414]:
def compress_strings(s):
    if not s:
        return None
    letters = list(s)
    compressed = []
    counter = 1
    for x in range(1, len(letters)):
        if letters[x] == letters[x-1]:
            counter += 1
            #print(letters[x-1], counter)
            if x == len(letters) -1:
                compressed.append(letters[-1])
                compressed.append(counter)
        elif letters[x] != letters[x-1]:
            compressed.append(letters[x-1])
            compressed.append(counter)
            counter = 1
            if x == len(letters)-1:
                 compressed.append(letters[-1])
                 compressed.append(counter)
    compressed_str = "".join(map(str, compressed))
    return compressed_str

compress_strings('aabbbbbcd')

'a2b5c1d1'

In [460]:
import statistics
def correct_sensor_drift(readings: list[int]) -> list[int]:
    '''
    A function that replaces each drift 
    value with the median of the previous 5 readings 
    (or fewer if there are less than 5 previous values).
    '''
    # calculate median of previous numbers
    if not readings:
        return []
    readings = readings.copy()
    
    def calculate_median(y):
        if y>5:

            median = statistics.median(readings[i] for i in range(y-5, y))
        elif 0<  y < 6:
            median = statistics.median(readings[i] for i in range(0, y))
        return median
    
    for x in range(1, len(readings)):
        median = calculate_median(x)
        if readings[x] > 2*median:
            readings[x] = median   #replace with median
    
    return readings

readings = [5,7,2,4,100,14,4,2,66,2,4]
correct_sensor_drift(readings)

[5, 7, 2, 4, 4.5, 4.5, 4, 2, 4, 2, 4]

In [479]:
def longest_streak(steps: list[int]) -> int:
    # your code here
    if not steps:
        return 0
    
    current_streak = 1
    max_streak = 1

    for i in range(1, len(steps)):
        if steps[i] > steps[i-1]:
            current_streak += 1
            max_streak = max(current_streak, max_streak)
        else:
            max_streak = max(current_streak, max_streak)
            current_streak = 1

    return max_streak

steps = [5000, 5000]
longest_streak(steps)

1