In [14]:
import pandas as pd
import numpy as np

def reverse_words(sentence):
    words = sentence.split( )
    reverse = words[::-1]
    joined = ' '.join(reverse)
    return joined

reverse_words('I have a big nose')

'nose big a have I'

In [23]:
def count_unique_characters(word):
    letters = list(word)
    unique_count = {}

    for x in letters:
        if x not in unique_count:
            unique_count[x] = 1
        else:
            unique_count[x] += 1

    return unique_count

count_unique_characters('banana')

{'b': 1, 'a': 3, 'n': 2}

In [38]:
def even_squares(nums):
    even_nums = [x for x in nums if x%2 == 0]
    squares = [x**2 for x in even_nums]
    return squares

even_squares([1,2,2,3,3,4,4,4,4,5])

[4, 4, 16, 16, 16, 16]

In [41]:
def greater_than_avg(nums):
    return [x for x in nums if x > np.mean(nums)]

greater_than_avg([2,55,32,100,55,34,30])

[55, 100, 55]

In [67]:
def tally_words(sentence):
    totals = {}

    for x in sentence:
        key = x[0]
        value = x[1]

        if key not in totals:
            totals[key] = value
        else:
            totals[key] += value

    return totals
    
tally_words([('A',10),('B',15),('A',5)])

{'A': 15, 'B': 15}

In [77]:
def remove_cons_dupl(nums):
    '''
    Removes consecutive duplicate numbers
    '''
    if not nums:
        return []
    non_repeating = [nums[0]]
    for x in range(1, len(nums)):
        if nums[x] != nums[x-1]:
            non_repeating.append(nums[x])
        
    return non_repeating

remove_cons_dupl([1,1,2,2,2,2,3,1,5,5])

[1, 2, 3, 1, 5]

In [97]:
'''Not Complete'''
def min_swaps_alternating_parity(nums: list[int]) -> int:
    # your code
    if not nums:
        return -1

    print(nums)
    for x in range(1, len(nums)):
        if nums[x]%2 != nums[x-1]%2 and nums[0]%2 != nums[-1]%2:
            return 0
    odd_count = 0
    even_count = 0
    for num in nums:
        if num% 2 != 0:
            odd_count+= 1
        else:
            even_count += 1
    if odd_count != even_count:
            return -1
    
    

min_swaps_alternating_parity([1,2,3,4,5,6,8,7])

[1, 2, 3, 4, 5, 6, 8, 7]

In [136]:
def longest_balanced_substring(s):
 
    max_len= 0
    balance = 0 # like a counter
    current_len = 0
    letters = list(s)

    for letter in letters:
        if letter == 'L':
            balance += 1
            current_len += 1
        elif letter == 'R':
            balance -= 1
            current_len += 1
        if balance == 0:
            max_len = max(max_len, current_len)

    return max_len


longest_balanced_substring('RLRRLLRLRL')

10

In [157]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'customer': ['Alice','Bob','Alice','David','Bob','Chris','Alice','Chris','Eve','Eve','David','Alice'],
    'plan': ['Basic','Premium','Premium','Basic','Basic','Premium','Premium','Premium','Basic','Premium','Basic','Basic'],
    'month': ['Jan','Jan','Feb','Feb','Feb','Jan','Mar','Mar','Jan','Feb','Mar','Apr'],
    'amount': [15,30,25,15,15,30,30,30,15,25,15,15]
})


def plan_summary(df):
    '''
    Sort by total revenue across all months per plan
    Return no. unique customers for each plan type
    Return average total spend per customer in each plan
    '''
    #groupby customer and plan to get total spend per customer
    customer_spend = df.groupby(['plan', 'customer'], as_index=False)['amount'].sum()

    summary = customer_spend.groupby('plan').agg(total_revenue=('amount','sum'),
    avg_customer_revenue = ('amount', 'mean'),
    unique_customers=('customer', 'nunique')).reset_index()

    #sort by total revenue in descending order
    summary = summary.sort_values(by='total_revenue', ascending=False).round(2)
    return summary

plan_summary(df)

      plan  total_revenue  avg_customer_revenue  unique_customers
1  Premium            170                  42.5                 4
0    Basic             90                  22.5                 4

In [177]:
def max_concurrent_viewers(events: list[tuple[int, int, str]]) -> int:
    # your code here
    if not events:
        return 0
    sorted_events = sorted(events, key=lambda x:x[1])
    current_count = 0
    max_count = 0

    for x in sorted_events:
        if x[2] == 'join':
            current_count += 1
            max_count = max(current_count, max_count)
        elif x[2] == 'leave':
            current_count -= 1
            max_count = max(current_count, max_count)
    
    return max_count

events = [(1, 5, 'leave'), (1, 5, 'join')]

max_concurrent_viewers(events)

0

In [1]:
def busiest_period(logs: list[tuple[int, int, str]]) -> tuple[int, int]:
    # returns (start_time, end_time)
    if not logs:
        return None
    
    
    sorted_logs = sorted(logs, key=lambda x: (x[0], x[2] =='exit'))

    current_count = 0
    max_count = 0
    max_start_time = 0
    max_end_time = 0

    for x in range (len(sorted_logs)):
        timestamp, count, action = sorted_logs[x]
        if action == 'enter':
            current_count += count
        else:
            current_count -= count

        if x < len(sorted_logs) - 1:
            next_timestamp = sorted_logs[x + 1][0]
        else:
             next_timestamp = timestamp

        if current_count > max_count:
            max_count = current_count
            max_start_time = timestamp
            max_end_time = next_timestamp

    return (max_start_time, max_end_time)



logs = [
    (1, 3, 'enter'),
    (2, 2, 'exit'),
    (3, 5, 'enter'),
    (5, 3, 'exit'),
    (6, 2, 'enter')
]

busiest_period(logs)

(3, 5)

In [223]:
import statistics
def find_anomalous_customers(transactions: list[tuple[int, float]]) -> list[int]:
    # your code here
    if not transactions:
        return None
   
    customer_amounts = {}
    #Group transactions by cusomer
    for id, amount in transactions:
        customer_amounts.setdefault(id, []).append(amount)

        #Compute mean for each customer
        customer_means = {id: statistics.mean(amounts) for id, amounts in customer_amounts.items()}

    all_means = list(customer_means.values())
    global_mean = statistics.mean(all_means)
    global_stdev = statistics.stdev(all_means)

    anomolous_customers = []
    for x in customer_means:
        if x[1] > global_mean + 2*global_stdev:
            anomolous_customers.append[x]

    return anomolous_customers

transactions = [
    (1, 20.0),
    (2, 35.0),
    (1, 25.0),
    (3, 300.0),
    (3, 250.0),
    (4, 40.0),
    (2, 45.0)
]

find_anomalous_customers(transactions)

TypeError: 'int' object is not subscriptable

In [249]:
def total_spend_per_customer(purchases):
    """
    purchases: list of dicts with keys ['customer_id', 'product', 'quantity', 'price']
    Returns: list of tuples (customer_id, total_spend), sorted descending by spend
    """
    from collections import defaultdict
    combined_ids = defaultdict(list)
    total_spend = defaultdict(float)

    for d in purchases:
        cust_id = d['customer_id']
        #calculate amount of spend = price * quantity
        spend = d['quantity'] * d['price']
        total_spend[cust_id] += spend

    sorted_customer_spend = sorted(total_spend.items(), key=lambda item: item[1], reverse=True)
    
    return sorted_customer_spend

total_spend_per_customer(purchases)

purchases = [
        {'customer_id': 1, 'product': 'Book', 'quantity': 2, 'price': 10.00},
        {'customer_id': 2, 'product': 'Pen', 'quantity': 5, 'price': 2.50},
        {'customer_id': 1, 'product': 'Notebook', 'quantity': 1, 'price': 6.00},
        {'customer_id': 3, 'product': 'Book', 'quantity': 1, 'price': 10.00},
        {'customer_id': 2, 'product': 'Book', 'quantity': 3, 'price': 10.00}
]

In [ ]:
def max_subarray_sum(nums, k):
    """
    nums: list[int]
    k: int
    Returns: int – maximum sum of any contiguous subarray of length k
    """
    if not nums or k <= 0 or len(nums) < k:
        return 0
    
    current_count = 1
    max_count = 1

    current_sum = sum(nums[:k])
    max_sum = current_sum

    for i in range(1, len(nums)):
        if nums[i] - nums[i-1] == 1:
            current_count += 1
            max_count = max(current_count, max_count)

            current_sum += nums[i] - nums[i - k]
            max_sum = max(max_sum, current_sum)
        
    if max_count < k:
        return 0
    
    return max_sum



    
nums = [1,2,3,4,5,6]
k = 10
max_subarray_sum(nums, k)

0

In [25]:
def compress_readings(readings: list[int]) -> list[tuple[int, int]]:
    if not readings:
        return []
    
    #print(readings)
    count = 1
    compressed = []

    for x in range(1, len(readings)):
        if readings[x] == readings[x-1]:
            count += 1
        else:
            compressed.append((readings[x-1], count))
            count = 1

    compressed.append((readings[-1], count))
    return compressed
compress_readings([1, 1, 1, 1,1,1])

[(1, 6)]

In [30]:
len = [x for x in range(10) if x%2 == 0]
print(len)

[0, 2, 4, 6, 8]

In [50]:
def duplicate_values(nums):
    new_nums = []
    duplicates = []

    if not nums:
        return None
  
    for i in nums:
        
        if i not in set(new_nums):
            new_nums.append(i)
        else:
            duplicates.append(i)

    return list(set(duplicates))

duplicate_values([1,2,3,1,2,3,1,2,3,1,2,3])

[1, 2, 3]

In [108]:
#string shift

def can_shift(A, B):

    A = [x for x in A]
    B = [x for x in B]
    NA = A.copy()
    NB = B.copy()
    count = 0
    if len(A) != len(B):
        return False
    if A == B:
        return True
  
    for k in range(1, len(A)):
        for i in range(len(A)):
            NB[i] = B[i-k]
            
        if NB == A:
            return True
        else:
            count += 1
        
    if count != 0:
        return False

def can_shift2(A,B):
    if len(A) != len(B):
        return False
    
    return B in A + A
    

A = 'bcdae'
B = 'cdaeb'
print(can_shift(A,B))
print(can_shift2(A,B))

True
True

In [138]:
def calc_fibonacci(N):
    if N < 1:
        return None
    if N == 1:
        return [0]
    
    sequence = [0,1]
    for i in range(2,N):
        sequence.append(sequence[i-1] + sequence[i-2])

    return sequence

calc_fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]