In [24]:
import numpy as np
import pandas as pd

np.random.seed(42) # Set seed for reproducibility

# Generate sample data
n = 1000
data = {
    "OrderID": np.arange(1, n+1),
    "Product": np.random.choice(["Shoes", "Shirt", "Pants", "Hat"], size=n),
    "Category": np.random.choice(["Men", "Women", "Kids"], size=n),
    "Quantity": np.random.randint(1, 5, size=n),
    "Price": np.random.randint(10, 100, size=n),
    "Date": pd.date_range(start="2023-01-01", periods=n, freq="D")
}


df = pd.DataFrame(data)
df["Revenue"] = df["Quantity"] * df["Price"]
print(df.head())

   OrderID Product Category  Quantity  Price       Date  Revenue
0        1   Pants    Women         4     39 2023-01-01      156
1        2     Hat     Kids         1     32 2023-01-02       32
2        3   Shoes      Men         1     14 2023-01-03       14
3        4   Pants      Men         1     93 2023-01-04       93
4        5   Pants      Men         2     74 2023-01-05      148

In [25]:
print(df.describe())

           OrderID     Quantity        Price                 Date      Revenue
count  1000.000000  1000.000000  1000.000000                 1000  1000.000000
mean    500.500000     2.493000    53.487000  2024-05-14 12:00:00   132.501000
min       1.000000     1.000000    10.000000  2023-01-01 00:00:00    10.000000
25%     250.750000     1.000000    30.000000  2023-09-07 18:00:00    60.000000
50%     500.500000     2.000000    53.000000  2024-05-14 12:00:00   105.500000
75%     750.250000     4.000000    76.000000  2025-01-19 06:00:00   190.000000
max    1000.000000     4.000000    99.000000  2025-09-26 00:00:00   396.000000
std     288.819436     1.124818    26.240053                  NaN    91.089337

In [26]:
print("The mean Revenue is", df["Revenue"].mean())
pd.pivot_table(df, values="Revenue", index="Category", columns="Product", aggfunc="sum")

The mean Revenue is 132.501

Product     Hat  Pants  Shirt  Shoes
Category
Kids      12733   9373  11167   9552
Men       13616  12065   9865  10815
Women     12512   9604   8553  12646